.scheduler {
  background-color: #000;
  width: 98%;
  margin: 20px auto;
  border: 1px solid;
  .calender_view {
    display: flex;
    justify-content: space-between;
    &__calender {
      width: 19%;
      border: 1px solid;
    }
    .schedule_info_container {
      border: 1px solid #717171;
      border-radius: 14px;
      width: 80%;
      overflow: hidden;
      .schedule_table_continer {
        border-radius: 14px;
        height: 90vh;
        overflow: auto;
        table {
          width: 1168px;
        }
        tr > th {
          border: 1px solid #717171;
          width: 198px;
          text-align: center;
          padding: 0;
          margin: 0;
          height: 70px;
          color: #fff;
          font-weight: 500;
          background-color: #1f1f1f;
          position: sticky;
          top: -0.5px;
          z-index: 5;
        }
        tbody {
          tr > td {
            border: 1px solid #717171;
            width: 198px;
            height: 100px;
            padding: 0;
            margin: 0;
            position: relative;
            color: #fff;
            cursor: pointer;
            p {
              z-index: 3;
              span {
                display: block;
              }
            }
          }
        }
        tr th:first-child {
          width: 100px;
          text-align: left;
        }
        tr td:first-child {
          width: 100px;
          text-align: center;
        }
      }
    }
  }
}
