.scheduler {
    background-color: #000;
    padding-bottom: 50px; // should be removed
    width: 98%;
    margin: 20px auto;
    border: 1px solid;
    .calender_view {
      display: flex;
      justify-content: space-between;
      &__calender {
        width: 19%;
        border: 1px solid;
      }
      .schedule_info_container {
        border: 1px solid #717171;
        border-radius: 14px;
        width: 80%;
        overflow: hidden;
        .schedule_table_continer {
          border-radius: 14px;
          height: 89vh;
          overflow: auto;
          width: 1220px;
          table {
            font-family: "Encode Sans", sans-serif;
            width: 100%;
          }
          tr > .schedule_months {
            &:first-child {
              width: 50px !important;
              text-align: center;
              padding-left: 5px;
              position: sticky;
              left: -0.5px;
              z-index: 6;
              display: inline-block;
              img {
                width: 19px;
                height: 19px;
              }
            }
            border-right: 1px solid #717171;
            text-align: center;
            padding: 5px 5px 5px 5px;
            color: #fff;
            font-weight: 500;
            font-size: 17px;
            background-color: #1f1f1f;
            position: sticky;
            top: -0.5px;
            z-index: 5;
            p {
              margin: 0;
              padding: 0;
            }
          }
          tr {
            .schedule_day {
              text-align: left;
              border-right: 1px solid #717171;
              padding: 5px 5px 5px 10px;
              color: #fff;
              font-weight: 500;
              font-size: 17px;
              background-color: #1f1f1f;
              width: 50px !important;
              position: sticky;
              top: -0.5px;
              z-index: 5;
              display: inline-block;
              p {
                margin: 0;
                padding: 0;
              }
            }
          }
          tbody {
            tr > td {
              border-bottom: 1px solid #717171;
              border-right: 1px solid #717171;
              height: 100px;
              padding: 0;
              margin: 0;
              position: relative;
              color: #fff;
              cursor: pointer;
              // width: 200px;
              width: 16%;
              .coldata {
                width: 97%;
                padding-left: 7px;
                border-radius: 7px;
                background-color: #262626;
                position: absolute;
                right: 0;
                left: 0;
                cursor: pointer;
                z-index: 1;
                .aligndata {
                  overflow: hidden;
                  text-overflow: ellipsis !important;
                  height: 100%;
                  margin: 0;
                  padding: 0;
                  display: flex;
                  align-items: center;
                  column-gap: 0px;
                  span {
                    // overflow: hidden;
                    // text-overflow: ellipsis !important;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                    // word-wrap: break-word;
                  }
                  .subtext {
                    color: #c6c6c6;
                    font-weight: 400;
                    font-size: 10px;
                  }
                  .colpopup {
                    font-size: 13px;
                    font-weight: 400;
                    display: none;
                    color: #fff;
                    background-color: #2d2d2d;
                    border: 1px solid #000;
                    padding: 5px;
                    position: absolute;
                    right: 0px;
                    bottom: -35px;
                    white-space: nowrap;
                    z-index: 2;
                  }
                  &:hover {
                    .colpopup {
                      display: block;
                    }
                  }
                }
              }
              &:first-child {
                border-bottom: 0;
                width: 50px !important;
                vertical-align: text-top;
                text-align: center;
                position: sticky;
                left: -0.5px;
                z-index: 2;
                background-color: #1f1f1f;
                display: inline-block;
              }
            }
            tr {
              .coldata_day {
                width: 30%;
                padding-left: 7px;
                border-radius: 7px;
                background-color: #262626;
                position: absolute;
                right: 0;
                left: 0;
                cursor: pointer;
                z-index: 1;
                text-overflow: ellipsis !important;
                .aligndata {
                  height: 100%;
                  margin: 0;
                  padding: 0;
                  display: flex;
                  align-items: center;
                  column-gap: 0px;
                  span {
                    text-overflow: ellipsis !important;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                    word-wrap: break-word;
                  }
                  .subtext {
                    color: #c6c6c6;
                    font-weight: 400;
                    font-size: 10px;
                    padding-top: 0;
                    word-wrap: break-word;
                  }
                  .colpopup {
                    font-size: 13px;
                    font-weight: 400;
                    display: none;
                    color: #fff;
                    background-color: #2d2d2d;
                    border: 1px solid #000;
                    padding: 5px;
                    position: absolute;
                    right: 0px;
                    bottom: -35px;
                    white-space: nowrap;
                    z-index: 9;
                  }
                  &:hover {
                    .colpopup {
                      display: block;
                    }
                  }
                }
                &:first-child {
                  border-bottom: 0;
                  width: 50px !important;
                  vertical-align: text-top;
                  text-align: center;
                  position: sticky;
                  left: -0.5px;
                  z-index: 2;
                  background-color: #1f1f1f;
                  display: inline-block;
                }
              }
            }
          }
        }
        &::-webkit-scrollbar {
          display: none;
          // overflow: auto;
        }
      }
    }
  }