$color-background: rgb(255 255 255 / 100%);
$color-list-view: rgb(220 220 220 / 100%);
$color-list-view-clicked: rgb(200 200 200 / 100%);
$color-primary: rgb(79 84 249 / 100%);
$color-heading: rgb(0 0 0 / 87%);
$color-text: rgb(33 33 33 / 100%);
$color-text-two: rgb(117 117 117 / 100%);
$color-red: rgb(255 74 74 / 100%);
$color-yellow: rgb(238 157 0 / 100%);
$color-green: rgb(15 193 0 / 100%);

// @mixin light-theme {
//     background-color: #f0f0f0;
//     color: #000000;
  
//     .heading {
//       color: #000000;
//     }
  
//     .para {
//       color: #333333;
//     }
//   }
  